.app {
	display: flex;
	min-height: 100vh;
	background-color: #111111;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: 60%;
	left: 0%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #F2f2f2;
  transition-duration: .2s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}

.hamburger > span::after {
  content: '';
  top: 8px;
}

.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 500px;
	padding: 2rem 1rem;
	padding-top: 4rem;
	background-color: #111111;
	text-align: center;
	color: #f2f2f2;
	margin-left: 20px;
	z-index: 10;
}

.sidebar h3 {
	margin-top: 5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	transition: .2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	background-color: #304630;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(20px);
	border-radius: 30px 0px 0px 30px;
	margin-right: -20px;
	padding-right: 40px;
}

.sidebar .menu .menu-item:hover {
	background-color: #3c393c;
}

.content {
	flex: 1 1 0;
	padding: 2rem;
	margin: 20px;
	border-radius: 30px;
	background-color: #304630;
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 5);
	box-shadow: outside 0 0 20px rgba(0, 0, 0, 1);
}

.content h1 {
	color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.logo {
    scale: 1;
    margin-bottom: 2rem;
}

.logo img {
    width: 100%;
    height: auto;
}

@media (max-width: 5000px) {
	.sidebar {
		max-width: 200px;
        min-width: 200px;
	}
}

@media (min-width: 0px) and (max-width: 964px) {
	.menu-toggle {
		display: block;
	}
	.content {
		padding-top: 8rem;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: -340px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
		text-align: center;
	}
	.sidebar h3 {
		margin-right: 20px;
	}
	.logo {
		margin-right: 20px;
	}
	.sidebar .menu .menu-item {
		border-radius: 30px;
		margin-right: 20px;
		padding-right: 20px;
	}
	.sidebar .menu .menu-item:hover,
	.sidebar .menu .menu-item.is-active {
		margin-right: 20px;
		border-radius: 30px;
		padding-right: 20px;
	}
	.sidebar.is-active {
		left: 0;
	}
	.logo-head { /* added this */
		top: 0px;
	}
}

.util {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: flex-end;
}

.items {
    height: 50px;
    width: 100%;
    padding-top: 1rem;
}