* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.sort { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.logo-head { /* added this */ 
    position: absolute;
    scale: 0.5;
    top: -1000px;
    left: 30px;
}

.input-wrapper{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background: #66a3b7;
    border-radius: 30px;
    max-width: 300px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
	backdrop-filter: blur(10px);
    position: relative;
}

.input-wrapper input{
    margin-right: 10px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #f2f2f2;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.input-wrapper button{
    border:  0;
    background: transparent;
    cursor: pointer;
}

.input-wrapper img{
    width: 23px;
    margin-right: 15px;
    cursor: pointer;
}

.input-wrapper img:hover {
    width: 25px;
}

::placeholder{
    color: #f2f2f2;
}

.grid_card{
    border-radius: 30px;
    background-color: black;
    font-size: 0.7em;
    overflow: hidden;
    position: relative;
    box-shadow:  0px 0px 5px #111111;
    z-index: 1;
}

.grid_card .bkImg {
    position: relative;
}

.grid_card .bkImg::before {
    content: "";
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #111111, 87%, transparent);
    backdrop-filter: blur(1px);
    transition: 0.2s;
    z-index: 1;
}

.grid_card:hover .bkImg::before {
    bottom: 0px;
}

.grid_card .bkImg img {
    width: 100%;
    transition: 0.5s;
}

.grid_card:hover .bkImg img {
    transform: translateY(-2px);
    filter: blur(5px);
}

.grid_card .item_detail {
    color: #f2f2f2;
    font-size: 1rem;
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 20px;
    z-index: 1;
    transition: 0.5s;
}

.grid_card:hover .item_detail {
    bottom: 40px;
}

.grid_card .item_detail .title {
    max-width: 150px;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name{
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.release {
    padding: 5px 0;
}

#result {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 2fr));
    grid-auto-rows: 220px;
    grid-gap: 20px;
    justify-content: space-between;
    overflow: auto;
}

@media (max-width: 1304px){
    #result{
        grid-template-columns: repeat(2, minmax(320px, 1fr));
    }
}

@media (min-width: 1556px){
    #result{
        grid-template-columns: repeat(3, minmax(320px, 1fr));
    }
}

@media (min-width: 2440px){
    #result{
        grid-template-columns: repeat(4, minmax(320px, 1fr));
    }
}

@media (min-width: 3500px){
    #result{
        grid-template-columns: repeat(5, minmax(320px, 1fr));
    }
}

@media (max-width: 761px){
    #result{
        grid-template-columns: repeat(1, minmax(320px, 1fr));
    }
}

.scrollable{
    display:flex;
    flex-grow: 4;
    max-height: 80vh;
    overflow-y: hidden;
    padding-bottom: 20px;
    padding-top: 10px;
    min-height: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scrollable::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}